body {
  font-family: sans-serif;
}
.row {
  display: flex;
}
.cell {
  font-size: 1.75em;
  text-align: center;
  background: #ddd;
  border: 1px solid #bbb;
  width: 33px;
  height: 33px;
}
.cellType0 {
  color: #eee;
  background: #eee;
}
.cellType1 {
  color: blue;
  background: #eee;
}
.cellType2 {
  color: green;
  background: #eee;
}
.cellType3 {
  color: red;
  background: #eee;
}
.cellType4 {
  color: navy;
  background: #eee;
}
.yay {
  color: lime;
}
.nay {
  color: red;
}
